body{
    background-image: url('../Images/fondo.jpg');
    color:rgb(202, 206, 200); 
    font-family: 'Courier New', Courier, monospace; 
}
.encabezado{
    display: flex;
    background-color:rgba(87, 90, 88, 0.571);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
    padding: 1% 2% 1% 2%;
    }    
#logo{
    width: 10%;
    }
.Navegador{
    display: flex; 
    justify-content: center;
    align-items: center;
    }
.li-navegador{
    list-style: none;
    cursor: pointer;  
    }
.menu{
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
    padding: 10px;
    color:rgb(238, 238, 242); 
    }
.menu:hover {
    background-color: rgba(65, 8, 19, 0.651);
    }
/*Cuerpo*/
.titulo{
    background-color: rgba(65, 8, 19, 0.651);
    padding: 2px;
    }
h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenido{
    background-color:rgba(16, 34, 19, 0.8);
    padding: 2%;
    justify-content: space-between;    
    margin-top: 1%;
}
p{
    font-size: 18px; 
    text-align: justify;
}
/*imagenHTML1*/
#imagenZombies {
    width: 100%;
}
/*Tabla*/
th {
    background-color: rgba(165, 42, 42, 0.685);
}
tbody {
    color: bisque;
    background-color: rgba(2, 17, 12, 0.644);
}
table, td, tr {
    border: 2px solid black;
    border-collapse: collapse;
}
table {
    width: 100%;
}
/*Formulario*/
.divTest{
    align-items: flex-start;
  }
.formulario{
    width:150%;
    margin: 3% 0% 3% 0%;  
  }
  label{
    padding-right: 3%;
    font-weight: bold;
    font-style: italic;
  }
  input{
    border: 3px inset rgb(105, 97, 97);
    background-color: rgba(248, 244, 244, 0.753);
  }
h6{
    background-color:rgba(87, 90, 88, 0.571);
    text-align: center;
    padding:1%;
    margin-bottom: 1%;
    font-size: 15px;
    position:sticky;
}