body{
    background-image: url('../Images/fondo.jpg');
    font-family: 'Courier New', Courier, monospace;
    color:rgb(202, 206, 200); 
    }
/*Header*/
.encabezado{
    background-color:rgba(87, 90, 88, 0.571);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
    padding: 1% 2% 1% 2%;
    }    
#logo{
    width: 10%;
    }
.Navegador{
    display: flex; 
    justify-content: center;
    align-items: center;
    }
.li-navegador{
    list-style: none;
    cursor: pointer;  
    }
.menu{
    font-size: 23px;
    font-weight: bold;
    color:rgb(238, 238, 242);
    text-decoration: none;
    padding: 10px;
    }
.menu:hover {
    background-color: rgba(65, 8, 19, 0.651);
    }
/*Cuerpo*/
.titulo{
    background-color: rgba(65, 8, 19, 0.651);
    padding: 2px;
    }
h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenido{
    padding: 2%;
    margin-top: 1%;
    background-color:rgba(16, 34, 19, 0.8);
}
p{
    font-size: 18px; 
    text-align: justify;
}
/*imagenHTML1*/
#imagenZombies {
    width: 100%;
}
/*Subtitulos*/
h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}
span{
    background-color: rgba(65, 8, 19, 0.651);
}
/*Lista*/
.li-kit{
    list-style: circle;
}
/*Tabla*/
table {
    width: 100%;
}
th {
    font-size: 18px;
    background-color: rgba(165, 42, 42, 0.685);
}
tbody {
    color: bisque;
    background-color: rgba(2, 17, 12, 0.644);
}
table, td, tr {
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}
/*Formulario*/
.formulario{ /*div que contiene label con su input correspondiente*/
    margin: 3% 0% 3% 0%;  
  }
label{
    font-weight: bold;
    padding-right: 3%;
}
input{
    color: bisque;
    border: 3px inset rgb(48, 2, 2);
    background-color: rgba(94, 73, 73, 0.528);
}
/*Footer*/
h6{
    background-color:rgba(87, 90, 88, 0.571);
    font-size: 15px;
    text-align: center;
    padding:1%;
    margin-bottom: 1%;
    position:sticky;
}

/*Captcha*/
.divCaptcha{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(86, 0, 0);
    width: 50%;
    padding: 2px;
    background-color: rgba(65, 8, 19, 0.651);
    margin-left: 25%;
}
h3{
    font-size: 25px;
}
label{
    padding: 3%;
    color: white;

}
#captcha{
    width:80%;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('../Images/Fondo.jpeg');
    border: outset rgba(31, 29, 29, 0.473);
    text-align: center;
}
#ingresoCaptcha{
    width: 80%;
    font-size: 20px;
    text-align: center;
    border: 2px inset rgba(31, 29, 29, 0.569);
}
#textoFinal{
    color: rgb(3, 153, 0);
}